<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Главная</title>
  <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
  <h1>Главная страница</h1>
  <ul>
    <from>
      <a href="/create" class="return-button">Создать пользователя</a>
      <a href="/check"  class="return-button">Проверить RFID метку</a>
    </from>
    
  </ul>
</body>
</html>
